:ruby
  questionable = locals[:questionable]
  question = locals[:question].present? ? locals[:question] : Question.new

= form_for [questionable, question] do |form|
  .form-group
    = form.label :body, style: "display: block"
    = form.text_field :body, placeholder: 'Add a question...', class: 'form-control'
  .form-group
    = form.submit "#{question.new_record? ? 'Create question' : 'Edit question'}", class: "btn btn-primary"
    = link_to 'Cancel', :back, class: "btn btn-outline-secondary"
