= form_with(model: material_container, class: 'modern-form') do |form|
  - if material_container.errors.any?
    .modern-alert.alert-danger{ role: 'alert' }
      %h2.mb-2= pluralize(material_container.errors.count, 'error') + ' prevented this container from being saved:'
      %ul.mb-0
        - material_container.errors.each do |error|
          %li= error.full_message

  .content-card
    .form-grid
      .form-group
        = form.label :job_function_id, 'Job function'
        = form.select :job_function_id, JobFunction.all.map { |j_f| [j_f.title, j_f.id] }, { include_blank: 'Select job function' }, class: 'form-select'
      .form-group
        = form.label :level_id, 'Level'
        = form.select :level_id, Level.all.map { |level| [level.title.presence || level.name, level.id] }, { include_blank: 'Select level' }, class: 'form-select'

  .form-actions
    = form.submit class: 'btn btn-primary'
