= form_with(model: learning_material) do |form|
  - if learning_material.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(learning_material.errors.count, "error")
        prohibited this learning_material from being saved:
      %ul
        - learning_material.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :material_type, style: "display: block"
    = form.number_field :material_type
  %div
    = form.label :name, style: "display: block"
    = form.text_field :name
  %div
    = form.label :link, style: "display: block"
    = form.text_field :link
  %div
    = form.label :learnable_id, style: "display: block"
    = form.number_field :learnable_id
  %div
    = form.label :learnable_id, style: "display: block"
    = form.text_field :learnable_id
  %div
    = form.submit
