= form_with(model: learning_material, class: 'modern-form') do |form|
  - if learning_material.errors.any?
    .modern-alert.alert-danger{ role: 'alert' }
      %h2.mb-2= pluralize(learning_material.errors.count, 'error') + ' prevented this learning material from being saved:'
      %ul.mb-0
        - learning_material.errors.each do |error|
          %li= error.full_message

  .content-card
    .form-grid
      .form-group
        = form.label :material_type
        = form.select :material_type, LearningMaterial.material_types.keys.map { |type| [type.titleize, type] }, {}, class: 'form-select'
      .form-group
        = form.label :name
        = form.text_field :name, class: 'form-control', placeholder: 'Give the material a friendly name'
      .form-group
        = form.label :link
        = form.url_field :link, class: 'form-control', placeholder: 'https://example.com/resource'
      .form-group
        = form.label :learnable_type
        = form.text_field :learnable_type, class: 'form-control', placeholder: 'Associated model type (e.g., Skill)'
      .form-group
        = form.label :learnable_id
        = form.number_field :learnable_id, class: 'form-control', placeholder: 'ID of the associated record'
      .form-group
        = form.label :skill_level_item_id
        = form.number_field :skill_level_item_id, class: 'form-control', placeholder: 'Optional related skill level item ID'

  .form-actions
    = form.submit class: 'btn btn-primary'
