%div{:id => "#{dom_id learning_material}"}
  %p
    %strong Material type:
    = learning_material.material_type
  %p
    %strong Name:
    = learning_material.name
  %p
    %strong Link:
    = learning_material.link
  %p
    %strong Learnable:
    = learning_material.learnable_id
  %p
    %strong Learnable:
    = learning_material.learnable_id
