<div id="<%= dom_id learning_material %>">
  <p>
    <strong>Material type:</strong>
    <%= learning_material.material_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= learning_material.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= learning_material.link %>
  </p>

  <p>
    <strong>Learnable:</strong>
    <%= learning_material.learnable_id %>
  </p>

  <p>
    <strong>Learnable:</strong>
    <%= learning_material.learnable_id %>
  </p>

</div>
