%p{:style => "color: green"}= notice
= render @learning_material
%div
  = link_to "Edit this learning material", edit_learning_material_path(@learning_material)
  |
  \#{link_to "Back to learning materials", learning_materials_path}
  
  \#{button_to "Destroy this learning material", @learning_materials, method: :delete}
