.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :id => "modal-add_skill_level_item-#{skill_level.id}-#{skill_level_item.id}", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Modal title
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      = form_for [skill_level, skill_level_item] do |form|
        .modal-body
          .mb-3
            = form.label :name, class: 'col-form-label'
            = form.text_field :name,  class: 'form-control'
          .mb-3
            = form.label :tip, class: 'col-form-label'
            = form.text_field :tip,  class: 'form-control'
        .modal-footer
          %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close
          = button_tag "Save", class: 'btn btn-primary'
