<div class="modal fade" id="modal-edit_skill_level-<%= skill_level.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(model: skill_level) do |form| %>
        <div class="modal-body">
          <div class="mb-3">
            <%= form.label :notice, style: "col-form-label" %>
            <%= form.text_field :notice,  class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= button_tag "Save", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>