- skill_levels = @skill.skill_levels.includes(:level, :rich_text_notice, :skill_level_items, learning_materials: :skill_level_item)

%p{:style => "color: green"}= notice
.d-flex.justify-content-between
  %span= link_to "<- Back to skills", skills_path, class: 'btn btn-link'
  %span= link_to "Edit this skill", edit_skill_path(@skill), class: 'btn btn-link'
.d-flex.align-items-center.p-3.my-3.text-white-50.bg-purple.rounded.shadow-sm
  .col-6
    %h6.mb-0.text-white.lh-100.fs-4= "#{@skill.name}#{@skill.skill_category&.name ? " (#{@skill.skill_category&.name})" : nil}"
  .d-flex.justify-content-end.ms-auto
    %span= button_to "Destroy this skill", @skill, method: :delete, class: 'btn btn-danger'
  / <small>Since 2011</small>
.my-5.p-3.bg-white.rounded.shadow-sm
  %h6.border-bottom.border-gray.pb-2.mb-0.d-flex.align-items-center
    %b Skill description
    .ms-auto.d-flex.align-items-center
      %span.mx-4 Self Estimation
      = render 'skills/skill_estimation', skill: @skill
  %p
    = @skill.description
.my-5.p-3.bg-white.rounded.shadow-sm
  %h6.d-flex.border-bottom.border-gray.pb-2.mb-0
    %ul#myTab.nav.nav-pills{:role => "tablist"}
      - skill_levels.each_with_index  do |skill_level, i|
        %li.nav-item{:role => "presentation"}
          %button{"aria-controls" => "home", "aria-selected" => "true", :class => "nav-link #{i.zero? ? 'active' : ''}", "data-bs-target" => "##{[skill_level.level.title, skill_level.id, 'tab-id'].join("-")}", "data-bs-toggle" => "tab", :id => [skill_level.level.title, skill_level.id].join("-"), :role => "tab", :type => "button"}= skill_level.level.title
  %div.tab-content#myTabContent
    / <div class="tab-content" id="myTabContent">
    - skill_levels.each_with_index  do |skill_level, i|
      = render 'skills/skill_levels/level', skill_level: skill_level, i: i