:ruby
  questionable = locals[:questionable]

%div
  = "Questions"
  - questionable.questions.each do |question|
    %div
      .comment
        = question.body
      %button.btn.btn-sm.btn-outline-primary{"data-bs-target": "#exampleModal-#{question.id}", "data-bs-toggle": "modal", type: "button"} Edit
      = render 'question_modal', locals: { questionable: questionable, question: question }
      = link_to 'Delete', [questionable, question], method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-outline-danger btn-sm"
