<p style="color: green"><%= notice %></p>

<%= render @skill_level_item %>

<div>
  <%= link_to "Edit this skill level item", edit_skill_level_item_path(@skill_level_item) %> |
  <%= link_to "Back to skill level items", skill_level_items_path %>

  <%= button_to "Destroy this skill level item", @skill_level_item, method: :delete %>
</div>
