<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "LevelUp", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Learning materials', learning_materials_path, class: "nav-link #{is_active('learning_materials')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'JobFunctions', job_functions_path, class: "nav-link #{is_active('job_functions')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Skills', skills_path, class: "nav-link #{is_active('skills')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'SkillLevels', skill_levels_path, class: "nav-link #{is_active('skill_levels')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'SkillCategories', skill_categories_path, class: "nav-link #{is_active('skill_categories')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Levels', levels_path, class: "nav-link #{is_active('levels')}" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Managing
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Learning materials', learning_materials_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'JobFunctions', job_functions_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'Skills', skills_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'SkillLevels', skill_levels_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'SkillCategories', skill_categories_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'Levels', levels_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'MaterialContainer', material_containers_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

